.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  background-color: rgb(34, 158, 241);
}

body {
    background-color: rgb(26, 144, 223);
}