.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  display: flex;
  margin-right: 50px;
}

.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  background-color: rgb(34, 158, 241);
}

body {
    background-color: rgb(44, 70, 87);
}

* {
  margin-top: 50px;
}

label {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}
